<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css">
  <!-- Compressed JavaScript -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Random Recipe</title>
</head>

<body>
  <header>
    <div class=" row top-bar">
      <h3 class="menu-text">Random Recipe</h3>
      <div class="column med-6">
      </div>
      <div class="column med-6">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/" class="">Homepage</a>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Sign Up</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div>

    <main class="col-auto">
      {{{body}}}
    </main>
  </div>

  {{!-- <div class="card-section">
    <h4>Hundreds of unique recipes for every occassion</h4>
    <p>Sign-up today to access full site benefits</p>
  </div>
  </div>
  </div>
  <div>
    <image src="../../assets/images/homepage_table.jpg"></image>
  </div>
  <div>
    <ul class="menu">
      <li><a href="#">Item One</a></li>
      <li><a href="#">Item Two</a></li>
      <li><a href="#">Item Three</a></li>
    </ul>
  </div> --}}
  {{!-- <div>
    <nav aria-label="Pagination">
      <ul class="pagination">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>

  </div> --}}








  <script src="/js/homepage.js"></script>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}





</body>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"
  crossorigin="anonymous"></script>
<script>
  $(document).foundation();
</script>

</html>
