<div class="grid-x grid-padding-x">
  <div class="cell large-2">
    <div class=" card">
      <div class="card-divider">Profile</div>
      <div class="card-section">
        <ul>
          <li>
            <a>Account</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <p id="favoriteRecipes"></p>
      </div>
    </div>
  </div>
 
 <div class="cell large-10">
    <ul id="favorite-list">
  
    </ul>
    {{!-- <div class="grid-x grid-padding-x">
      <img class="cell large-3" src={{randomRecipe.image}}>
      <div class="cell large-9 card-section">
        <h4>Instructions</h4>
        <p>{{randomRecipe.instructions}}</p>
      </div>
    </div> --}}

    <script src="/js/showFavorite.js"></script>